<h1>index</h1>

<div class="list-group">
	<% @studios.each do |studio| %>
	<div class="list-group-item">
		<ul class="studio">
			<li>
				<%= link_to(studio.name, studio_path(studio.id)) %>
			</li>
			<li>
				<%= link_to('EDIT', edit_studio_path(studio.id)) %>
			</li>
			<li>
				<%= link_to('DELETE', studio_path(studio.id), method: :delete) %>
			</li>
		</ul>
	</div>
	<% end %>
</div>